.contactInfo {
  flex: 0 0 43.1%;
  padding: 32px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  background: rgba(249, 249, 249, 0.1);
  gap: 10px;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: white;
  justify-content: space-between;

  height: 100%;
}

.titleTextBlock {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: var(--white);
}

.contactDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.contactDetailsBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contactEmailNumber {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contactAddressBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: var(--white);
}

.contactItemBlock {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.contactIconsBlock {
  width: auto;
  height: auto;
  display: grid;
}

.contactItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: rgba(255, 255, 255, 0.4);
}

.value {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.socialIconsContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 12;
}

.socialIconBlock {
  width: 100%;
  height: auto;
  display: flex;
  gap: 12;
}

.socialIcons {
  gap: 12px;
}

.socialIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.2s ease;

  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  svg {
    width: 24px;
    height: 24px;
  }
}

.valueNumber {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 110%;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.valueNumber:hover {
  opacity: 0.8;
}

.valueEmail {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.valueEmail:hover {
  opacity: 0.8;
}

.valueAddress {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  color: var(--white);
}

.valueSchedule {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: var(--white);
}

.socialIcon:hover {
  background: var(--violet);
  backdrop-filter: blur(20px);
  color: var(--white);
  border-color: var(--violet);
}

@media (max-width: 1000px) {
  .contactInfo {
    width: auto;
    height: auto;
    padding: mvw(20);
    border-radius: mvw(32);
    backdrop-filter: blur(10px);
    background: rgba(249, 249, 249, 0.1);
    gap: 0;
    flex: none;
    flex-direction: row-reverse;
  }
  .content {
    gap: mvw(16);
    height: 100%;
  }
  .titleTextBlock {
    gap: 0;
    display: none;
  }
  .contactDetailsContainer {
    gap: mvw(16);
    height: 100%;
    justify-content: space-between;
  }
  .contactDetailsBlock {
    gap: mvw(16);
  }
  .contactIcons {
    margin-bottom: mvw(8);
  }
  .socialIconsContainer {
    gap: 0;
  }
  .socialIconBlock {
    gap: mvw(12);
    display: flex;
    flex-direction: row;
  }
  .socialIcon {
    padding: mvw(12);
    border-radius: mvw(16);
    border: mvw(2) solid rgba(255, 255, 255, 0.2);

    width: mvw(58);
    height: mvw(58);
  }
  .socialIcon svg {
    width: mvw(24);
    height: mvw(24);
  }
  .contactEmailNumber {
    gap: mvw(15);
  }
  .valueNumber {
    font-size: mvw(24);
    line-height: 110%;

    font-family: var(--second-family);
    font-weight: 700;
  }
  .valueEmail {
    font-size: mvw(16);
    line-height: 140%;

    font-family: var(--second-family);
    font-weight: 500;

    line-height: 110%;
    color: var(--white);
  }
  .contactAddressBlock {
    gap: mvw(12);
  }
  .valueAddress {
    font-size: mvw(16);
    line-height: 140%;
    font-weight: 500;
    color: var(--white);
    line-height: 110%;
  }
  .contactItem {
    gap: mvw(10);
  }
  .valueSchedule {
    font-size: mvw(16);
    line-height: 140%;

    font-weight: 500;

    line-height: 140%;
  }
  .contactInfo {
    border: mvw(2) solid rgba(255, 254, 252, 0.3);
    border-radius: mvw(32);
  }
}
