.trainerCard {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: inherit;
  display: block;
}

.cardImage {
  position: relative;
  width: 100%;
  height: 251px;
  overflow: hidden;
}

.trainerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 18px 24px 24px;
  width: 100%;
  height: 120px;
}

.location {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: var(--black);
  opacity: 0.6;
}

.trainerName {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: var(--black);
}

.specialization {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--black);
  opacity: 0.6;
}

@media (max-width: 1000px) {
  .trainerCard {
    border-radius: mvw(12);
  }

  .cardImage {
    height: mvw(160);
  }

  .cardContent {
    padding: mvw(12) mvw(16);
    height: auto;
    gap: mvw(8);
  }

  .location {
    font-size: mvw(12);
    line-height: 140%;
  }

  .trainerName {
    font-size: mvw(16);
    line-height: 140%;
  }

  .specialization {
    font-size: mvw(12);
    line-height: 140%;
  }
}
