.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  padding: 0;
}

@media (max-width: 1000px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: mvw(12);
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }
}
