.filterSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 24px 24px 28px;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #e1e1e1;
}

.filterSection.collapsedSection {
  gap: 0;
  padding: 24px 24px 24px;
  border-radius: 8px;
}

.sectionTitleContainer {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: var(--black);
}

.sectionTitleContainer svg {
  width: 16px;
  height: 16px;
}

.sectionTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--black);
}

.sectionContent {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  height: auto;
  opacity: 1;
}

.sectionContent.collapsed {
  height: 0;
  opacity: 0;
}

.sectionContent.expanded {
  height: auto;
  opacity: 1;
}

.colorList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.colorItem {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 4px 0;
}

.colorCheckbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.colorSwatch {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;

  cursor: pointer;
  transition: all 0.2s ease;
  flex-shrink: 0;
}

.whiteColor {
  border: 1px solid rgba(14, 14, 14, 0.1) !important;
}

.colorSwatch:not(.whiteColor) {
  border: none;
}

/* .colorSwatch:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
} */

.colorSwatch.selected {
  border: 2px solid var(--violet);
  /* box-shadow: 0 0 0 2px rgba(138, 43, 226, 0.2); */
}

.colorName {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--black);
  flex: 1;
}

.colorCount {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #999;
}

.loading {
  font-family: var(--font-family);
  font-size: 14px;
  color: rgba(14, 14, 14, 0.6);
}

@media (max-width: 1000px) {
  .filterSection {
    gap: mvw(20);
    padding: mvw(20) mvw(16) mvw(24);
    border-bottom: none;
  }

  .sectionTitle {
    font-size: mvw(16);
  }

  .sectionTitleContainer svg {
    width: mvw(16);
    height: mvw(16);
  }

  .colorList {
    gap: mvw(12);
  }

  .colorItem {
    gap: mvw(12);
  }

  .colorSwatch {
    width: mvw(24);
    height: mvw(24);
    border-radius: mvw(8);
  }

  .colorName,
  .colorCount {
    font-size: mvw(14);
  }
}
.error {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: var(--black);
  text-align: center;
  padding: 40px 20px;
}
