.contactInfo {
  flex: 0 0 41.1%;
  padding: 32px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: auto;
  backdrop-filter: blur(10px);
  background: rgba(249, 249, 249, 0.1);
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: white;
  justify-content: space-between;
  height: 100%;
  min-height: auto;
}

.titleTextBlock {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: var(--white);
}

.description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--white);
}

.contactDetails {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.contactItemBlock {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.contactIconsBlock {
  width: auto;
  height: auto;
  display: grid;
}

.contactItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.4);
}

.value {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.socialIconsContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 12;
}

.socialIconBlock {
  width: 100%;
  height: auto;
  display: flex;
  gap: 12;
}

.socialIcons {
  gap: 12px;
}

.socialIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.2s ease;

  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  svg {
    width: 24px;
    height: 24px;
  }
}

.socialIcon:hover {
  background: var(--violet);
  backdrop-filter: blur(20px);
  color: var(--white);
  border-color: var(--violet);
}

@media (max-width: 1000px) {
  .contactInfo {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    padding: mvw(24) mvw(16);
    border-radius: mvw(16);
    gap: mvw(24);
    box-sizing: border-box;
    height: auto;
    min-height: auto;
    flex-direction: column;
    background: none;
  }

  .content {
    gap: mvw(24);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: auto;
    min-height: auto;
    flex-direction: column-reverse;
  }

  .titleTextBlock {
    gap: mvw(12);
    text-align: left;
    align-items: center;
  }

  .title {
    font-size: mvw(28);
    width: mvw(200);
    line-height: 120%;
    text-align: left;

    font-family: var(--second-family);
    font-weight: 700;

    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--white);
  }
  .description {
    font-size: mvw(14);
    line-height: 140%;
    text-align: left;
    text-align: center;

    font-family: var(--font-family);
    font-weight: 500;
  }

  .contactDetails {
    flex-direction: column-reverse;
    gap: mvw(16);
    align-items: flex-start;
  }

  .contactItemBlock {
    width: 100%;
    gap: mvw(16);
  }

  .contactItem {
    gap: mvw(4);
  }

  .label {
    font-size: mvw(14);
    line-height: 110%;
  }

  .value {
    font-size: mvw(16);
    line-height: 140%;
  }

  .contactIconsBlock {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .socialIcons {
    padding: 0;
    gap: mvw(12);
  }

  .socialIconsContainer {
    flex-direction: row;
    gap: mvw(12);
  }

  .socialIconBlock {
    gap: mvw(12);
    flex-direction: row;
    display: flex;
  }

  .socialIcon {
    width: mvw(58);
    height: mvw(58);
    /* padding: mvw(20); */
    border-radius: mvw(16);
    border: mvw(2) solid rgba(255, 255, 255, 0.3);
  }

  .socialIcon svg {
    width: mvw(24);
    height: mvw(24);
  }
}
