@import "tailwindcss";
@import "react-loading-skeleton/dist/skeleton.css";

:root {
  --text-black: rgba(14, 14, 14, 1);
  --text-black-transparent: rgba(14, 14, 14, 0.4);
  --bg-light: rgba(249, 249, 249, 1);
  --brand-primary: #8426d7;
  --background: #ffffff;
  --foreground: #171717;
  --violet: #8426d7;
  --black: #0e0e0e;
  --white: #fffefc;
  --style: #f44336;
  --grey-for-cards: #c0c0c0;
  --grey: #e4e4e4;
  --violet: #8426d7;
  --bg-color: #f9f9f9;
  --font-family: "Inter Tight", sans-serif;
  --second-family: "Inter Tight", sans-serif;
  --third-family: "Inter Tight", sans-serif;
}

:root {
  --header-height: 120px;
  --breadcrumb-padding: 16px;
  --breadcrumb-total-top: calc(
    var(--header-height) + var(--breadcrumb-padding)
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

body {
  background: rgba(249, 249, 249, 1);
  color: var(--foreground);
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
}

.modalOpen body {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
}

body {
  font-size: 16px; /* → 0.8333vw (від 1920) */
}

@media (max-width: 1024px) {
  body {
    font-size: 14px; /* → 3.7333vw (від 375) */
  }
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
}

/* Стилі для фіксованого хедера */
body {
  padding-top: 0;
  padding-top: 12px;
  padding-bottom: 15px;
  margin: 0 auto;
}

/* Забезпечуємо, що хедер завжди поверх інших елементів */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* Глобальні стилі для скролбара */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: rgba(14, 14, 14, 0.05);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 2px;
  width: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--black);
}

/* Кастомні стилі для react-loading-skeleton */
.react-loading-skeleton {
  animation: skeleton-loading 1.5s ease-in-out infinite;
}

@keyframes skeleton-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
