.infoSection {
  background: var(--bg-color);
}

.container {
  width: 100%;
  padding: 89px 40px 0px 40px;
}

.blocksContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoBlock {
  display: flex;
  gap: 24px;
  align-items: stretch;
}

.imageContent,
.textContent {
  align-self: stretch;
  height: 100%;
}

.courseImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.buttonsContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}
.textContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;

  border-radius: 32px;
  padding: 100px 56px;
  width: 100%;
  height: auto;
  background: var(--white);
}

.imageContent {
  flex: 1;
  position: relative;
}

.badgeContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}

.badgeBlock {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-direction: column;
}

.badge {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  backdrop-filter: blur(20px);
  background: rgba(132, 38, 215, 0.15);
  padding: 10px 14px;
  width: fit-content;
  border-radius: 8px;
  gap: 10px;
}

.badgeText {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;
  color: #8426d7;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: var(--black);
}

.description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: var(--black);
  opacity: 0.4;
}

.detailsBtn,
.detailsBtLowern {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  transition: all 0.2s ease;
  width: fit-content;
  border-radius: 20px;
  padding: 24px 42px;
  height: auto;
  line-height: 100%;
}

.detailsBtn {
  background: var(--violet);
  color: var(--white);
  border: none;
}

.detailsBtLowern {
  border: 3px solid #8426d7;
  background: transparent;
  color: #8426d7;
}

.detailsBtn:hover,
.detailsBtLowern:hover {
  background: var(--black);
  color: var(--white);
  border-color: var(--black);
  /* transform: translateY(-2px); */
}

.imageOverlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.3);
  padding: 8px 16px;
  border-radius: 8px;
  backdrop-filter: blur(4px);
}

.overlayText {
  color: white;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feature {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.featureIcon {
  width: 64px;
  height: 64px;
  background: #f9f9f9;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-shrink: 0;
  color: var(--violet);

  border-radius: 65px;
  fill: #f9f9f9;
  backdrop-filter: blur(20px);
}
.featureContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.featureContent h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: var(--black);
}

.featureContent p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: rgba(14, 14, 14, 0.4);
}

@media (max-width: 1000px) {
  .infoSection {
    padding: mvw(24) 0;
  }

  .container {
    padding: mvw(65) mvw(16) mvw(16);
  }

  .infoBlock {
    flex-direction: column;
    gap: mvw(24);
  }

  .imageContent {
    width: 100%;
    order: -1;
  }

  .courseImage {
    width: 100%;
    height: auto;
    min-height: mvw(300);
    border-radius: mvw(16);
  }

  .textContent {
    padding: mvw(16);
    border-radius: mvw(16);
    gap: mvw(24);
  }

  .badgeContainer {
    gap: mvw(16);
  }

  .badgeBlock {
    gap: mvw(16);
    display: flex;
    justify-content: flex-start;
  }

  .badge {
    padding: mvw(10) mvw(14);
    border-radius: mvw(8);
    gap: mvw(8);
  }

  .badge svg {
    width: mvw(20);
    height: mvw(20);
  }

  .badgeText {
    font-size: mvw(10);
    line-height: 140%;
  }

  .title {
    font-size: mvw(24);
    line-height: 120%;
  }

  .description {
    font-size: mvw(14);
    line-height: 140%;
  }

  .buttonsContainer {
    gap: mvw(6);
    width: 100%;
  }

  .detailsBtn {
    width: auto;
    /* padding: mvw(16) mvw(24); */

    border-radius: mvw(16);
    font-size: mvw(14);
    text-align: center;

    /* border-radius: 16px; */
    /* padding: 21px 28px; */
    width: auto;
    height: mvw(56);
    font-weight: 700;

    width: mvw(125);
    height: mvw(56);
  }

  .detailsBtLowern {
    width: auto;

    border: mvw(3) solid #8426d7;
    border-radius: mvw(14);
    font-size: mvw(14);
    text-align: center;

    width: mvw(180);
    height: mvw(56);

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
