.section {
  padding: 0px 0px 180px 0px;
}
.inner {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

@media (max-width: 1000px) {
  .section {
    padding: 0px 0px mvw(80) mvw(0);
  }
  .inner {
    gap: mvw(100);
  }
}
