.contactSection {
  padding: 160px 0px;

  background: url(/images/Frame-1321318307.png);
  background-size: cover;
  width: 100%;
  max-width: 98.75vw;
  border-radius: 56px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subtitle {
  font-family: var(--font-family);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
  color: rgba(255, 254, 252, 0.6);
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  text-align: center;
  color: var(--white);
}

.container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  display: flex;
  gap: 16px;
}

.innerContainer {
  width: 100%;
  max-width: 459px;
}

.formWrapper {
  flex: 0 0 58.9%;
  background: white;
  border-radius: 16px;
  padding: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  padding: 52px;
  width: 100%;
  max-width: 900px;
}

@media (max-width: 1000px) {
  .contactSection {
    padding: mvw(50) 0;
    border-radius: 0;
    max-width: 100%;
    border: none;
    gap: mvw(31);
    background-image: url(/images/Frame13213196251.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header {
    padding: 0 mvw(16);
    gap: mvw(8);
    align-items: center;
    justify-content: center;
  }
  .subtitle {
    font-size: mvw(15);
    text-align: left;
    border-radius: mvw(8);
  }
  .title {
    font-size: mvw(28);
    line-height: 120%;
    text-align: left;
    text-align: center;
    justify-content: center;
  }
  .container {
    flex-direction: column;
    padding: 0 mvw(16);
    gap: mvw(12);
  }
  .formWrapper {
    width: 100%;
    max-width: 100%;
    padding: mvw(16);
    border-radius: mvw(16);
  }
  .innerContainer {
    max-width: 100%;
  }
}
