.upperDescr {
  margin-bottom: 0.83vw;

  font-family: "Golos Text", sans-serif;
  text-align: center;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
  color: #8426d7;
}

@media (max-width: 1024px) {
  .upperDescr {
    font-size: mvw(14);
    font-family: var(--font-family);
    font-weight: 600;

    line-height: 140%;
    text-align: center;
    color: var(--violet);
  }
}
