.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: var(--black);
}

.more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  background: var(--violet);
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
}

.scroller {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  /* padding-bottom: 6px; */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scroller::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  border-radius: 12px;

  text-decoration: none;
  color: inherit;
  align-items: center;

  border-radius: 16px;
  width: 248px;
  height: auto;
}

.moreCard {
  align-items: center;
  justify-content: center;
}

.moreInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  bottom: auto;
  right: 50px;
}

.plus {
  background: var(--violet);
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  line-height: 1;

  border-radius: 12px;

  width: 52px;
  height: 52px;
  svg {
    width: 20px;
    height: 20px;
  }
}

.moreText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: var(--black);
}

.thumb {
  position: relative;
  width: 100%;
  height: 251px;
  border-radius: 8px;
  overflow: hidden;
  background: #f7f7f7;
  border-radius: 16px;
}

.thumb img {
  object-fit: contain;
}

/* .badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: #ff3b30;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
  text-transform: lowercase;
} */

.caption {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: var(--black);
}

.price {
  font-weight: 600;
  color: var(--violet);
}

@media (max-width: 1000px) {
  .wrapper {
    gap: mvw(24);
  }

  .header {
    margin-bottom: mvw(16);
  }

  .title {
    font-size: mvw(28);
    line-height: 120%;
  }

  .scroller {
    gap: mvw(8);
    padding-bottom: mvw(6);
  }

  .card {
    width: mvw(132);
    min-width: mvw(132);
    gap: mvw(8);
    border-radius: mvw(16);
  }

  .thumb {
    width: mvw(132);
    height: mvw(132);
    border-radius: mvw(16);
  }

  .caption {
    gap: mvw(4);
  }

  .name {
    font-size: mvw(14);
    line-height: 140%;
    font-weight: 500;
    text-align: center;
  }

  .plus {
    width: mvw(52);
    height: mvw(52);
    border-radius: mvw(12);
    font-size: mvw(28);
  }

  .plus svg {
    width: mvw(20);
    height: mvw(20);
  }

  .moreText {
    font-size: mvw(20);
    line-height: 140%;
  }
}
