.root {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 2;
  backdrop-filter: blur(4px);
  color: var(--violet);
}

.root svg {
  width: 20px;
  height: 20px;
  display: block;
}

.root svg,
.root svg * {
  transition: fill 0.2s ease, stroke 0.2s ease;
  stroke: currentColor;
  transform: none;
}

.active svg,
.active svg * {
  fill: currentColor;
}

@media (max-width: 1000px) {
  .root {
    width: mvw(26);
    height: mvw(26);
    border-radius: mvw(23);
    top: mvw(8);
    right: mvw(8);
  }
  .root svg {
    width: mvw(11);
    height: mvw(11);
  }
}
