.subscriptionBadge {
  padding: 4px 8px;
  border-radius: 999px;
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: right;
  color: var(--white);
  background: var(--style);
}

@media (max-width: 1000px) {
  .subscriptionBadge {
    padding: mvw(4) mvw(8);
    font-size: mvw(6);
    border-radius: mvw(999);
    line-height: 120%;
    letter-spacing: -0.01em;
  }
}

